& {
  padding: 0 2rem;
  .m_title {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--color-text-title);
    border-bottom: .4rem solid var(--color-border);
    display: inline-block;
    padding-right: 5rem;
  }
  .m_content {
    background-color: #f9f9f9;
    height: 80rem;
    margin-bottom: 3rem;
  }
}