& {
  padding: 5rem 0;
  border-right: .1rem solid #eee;
  div.s-logo {
    width: 100%;
    text-align: center;
    & > img {
      width: 8rem;
    }
    & > .s-logo-title1 {
      font-size: 1.6rem;
    }
    & > .s-logo-title2 {
      font-size: 1.2rem;
      color: var(--color-subcolor);
    }
  }
  div.s-catalog {
    padding: 2rem 1.6rem 2rem 9rem;
    box-sizing: border-box;
    @menu-height: 2.4rem;
    .menu-link (@font-size:1.5rem) {
      cursor: pointer;
      font-size: @font-size;
      padding: .3rem 1rem;
      border-radius: .2rem;
      height: @menu-height;
      line-height: @menu-height;
      transition: all .3s;
      &:hover:not(.active) {
        color: var(--color-primary);
        text-decoration: underline;
      }
      &.active {
        color: var(--color-dark-primary);
        background-color: #e9e9e9;
      }
      & > .num {
        font-size: @font-size - 1rem;
        margin-right: 1rem;
        color: var(--color-subcolor);
      }
    }
    ul.s-c-1 {
      & > li.s-c-item1 {
        .s-c-link1 {
          .menu-link(1.5rem);
        }
        .s-c-2 {
          height: 0;
          transition: all .3s;
          overflow: hidden;
          padding-left: 4rem;
          & > li.s-c-item2 {
            .s-c-link2 {
              .menu-link(1.2rem)
            }
          }
        }
        i.fa-caret-left {
          display: inline-block;
          font-size: 1.2rem;
          margin-left: 10rem;
          transition: all .3s;
        }
        &.open i.fa-caret-left {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
