* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html {
  font-size: 20px;
  --color-primary: #2d8cf0;
  --color-light-primary: #5cadff;
  --color-dark-primary: #2b85e4;
  --color-text-title: #1c2438;
  --color-text-content: #495060;
  --color-subcolor: #80848f;
  --color-disabled: #bbbec4;
  --color-border: #dddee1;
  --color-divider: #e9eaec;
  --color-bg: #f8f8f9;
}
ul {
  list-style: none;
}
#app {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 36rem auto;
  grid-template-rows: 12rem auto;
  grid-template-areas: "sidebar header" "sidebar main";
}
#app > header {
  grid-area: header;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 4rem 2rem;
  display: flex;
}
#app > header ul.h-menu {
  font-size: 1.4rem;
  display: flex;
  position: relative;
}
#app > header ul.h-menu > li {
  width: 5rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.4rem;
}
#app > header ul.h-menu > li:not(:last-child) {
  margin-right: 1.4rem;
}
#app > header ul.h-menu > li.active {
  color: #fff;
  position: relative;
  z-index: 99;
}
#app > header ul.h-menu > li.active-bg {
  background-color: var(--color-primary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 90;
  transition: all 0.3s;
}
#app > header .h-align-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
#app > header .h-align-right .h-search {
  height: 2.4rem;
  line-height: 2.4rem;
  background-color: #e5e5e5;
  border-radius: 0.6rem;
  margin-right: 3rem;
  padding-right: 0.8rem;
}
#app > header .h-align-right .h-search input {
  height: 2.4rem;
  padding: 0.3rem 0.8rem;
  border: none;
  outline: none;
  background-color: transparent;
}
#app > header .h-align-right .h-search input .clean-style {
  border: none;
  outline: none;
  background-color: transparent;
}
#app > header .h-align-right .h-search input:hover,
#app > header .h-align-right .h-search input:focus {
  border: none;
  outline: none;
  background-color: transparent;
}
#app > header .h-align-right .h-search i.fa-search {
  font-size: 1.4rem;
  color: #6e6e6e;
}
#app > header .h-align-right .h-user-info {
  color: var(--color-text-title);
  margin-right: 3rem;
}
#app > header .h-align-right .h-user-info i {
  font-size: 2rem;
  line-height: 2.4rem;
}
#app > #side_bar {
  grid-area: sidebar;
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  border-right: 0.1rem solid #eee;
}
#app > #side_bar div.s-logo {
  width: 100%;
  text-align: center;
}
#app > #side_bar div.s-logo > img {
  width: 8rem;
}
#app > #side_bar div.s-logo > .s-logo-title1 {
  font-size: 1.6rem;
}
#app > #side_bar div.s-logo > .s-logo-title2 {
  font-size: 1.2rem;
  color: var(--color-subcolor);
}
#app > #side_bar div.s-catalog {
  padding: 2rem 1.6rem 2rem 9rem;
  box-sizing: border-box;
}
#app > #side_bar div.s-catalog ul.s-c-1 > li.s-c-item1 .s-c-link1 {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  height: 2.4rem;
  line-height: 2.4rem;
  transition: all 0.3s;
}
#app > #side_bar div.s-catalog ul.s-c-1 > li.s-c-item1 .s-c-link1:hover:not(.active) {
  color: var(--color-primary);
  text-decoration: underline;
}
#app > #side_bar div.s-catalog ul.s-c-1 > li.s-c-item1 .s-c-link1.active {
  color: var(--color-dark-primary);
  background-color: #e9e9e9;
}
#app > #side_bar div.s-catalog ul.s-c-1 > li.s-c-item1 .s-c-link1 > .num {
  font-size: 0.5rem;
  margin-right: 1rem;
  color: var(--color-subcolor);
}
#app > #side_bar div.s-catalog ul.s-c-1 > li.s-c-item1 .s-c-2 {
  height: 0;
  transition: all 0.3s;
  overflow: hidden;
  padding-left: 4rem;
}
#app > #side_bar div.s-catalog ul.s-c-1 > li.s-c-item1 .s-c-2 > li.s-c-item2 .s-c-link2 {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  height: 2.4rem;
  line-height: 2.4rem;
  transition: all 0.3s;
}
#app > #side_bar div.s-catalog ul.s-c-1 > li.s-c-item1 .s-c-2 > li.s-c-item2 .s-c-link2:hover:not(.active) {
  color: var(--color-primary);
  text-decoration: underline;
}
#app > #side_bar div.s-catalog ul.s-c-1 > li.s-c-item1 .s-c-2 > li.s-c-item2 .s-c-link2.active {
  color: var(--color-dark-primary);
  background-color: #e9e9e9;
}
#app > #side_bar div.s-catalog ul.s-c-1 > li.s-c-item1 .s-c-2 > li.s-c-item2 .s-c-link2 > .num {
  font-size: 0.2rem;
  margin-right: 1rem;
  color: var(--color-subcolor);
}
#app > #side_bar div.s-catalog ul.s-c-1 > li.s-c-item1 i.fa-caret-left {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 10rem;
  transition: all 0.3s;
}
#app > #side_bar div.s-catalog ul.s-c-1 > li.s-c-item1.open i.fa-caret-left {
  transform: rotate(-90deg);
}
#app > #main {
  grid-area: main;
  width: 100%;
  height: 100%;
}
