@import url('./utility.less');
* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html {
  font-size: 20px;
  @import url('./color.less');
}
ul {
  list-style: none;
}
#app {
  @header-height: 12rem;
  @sider-bar-width: 28rem;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: @sider-bar-width auto;
  & > #side_bar {
    width:100%;
    height: 100%;
    @import url('./sidebar.less');
  }
  & > #app_right {
    width:100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 3rem;
    box-sizing: border-box;
    .scroll-bar-style();
    & > header {
      width:100%;
      height: @header-height;
      @import url('./header.less');
    }
    & > #main {
      width:100%;
      @import url('./main.less');
    }
  }
}

/*自定义标签*/
user-tag {
  display: grid;
  @line-height: 25px;
  grid-template-columns:  @line-height * 2 80px;
  grid-template-rows:  @line-height  @line-height;
  grid-template-areas: 
    "img name"
    "img id";
  cursor: pointer;
  img {
    grid-area: img;
    width:  @line-height * 2;
    border-radius: 50%;
    border: 1px solid var(--color-border);
  }
  p {
    margin: 0;
    line-height:  @line-height;
    height:  @line-height;
    padding-left: 5px;
    &.name {
      grid-area: name;
      color: var(--color-text-title);
      font-size: 14px;
      font-weight: bolder;
    }
    &.id {
      grid-area: id;
      color: var(--color-subcolor);
      font-size: 12px;
    }
  }
}
