<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Draw Lots</title>
</head>
<body>
  <div id="app">
    <div class="form">
      <div class="form-item">
        <label>队伍数量</label>
        <input type="number" id="teamCount" value="2">
      </div>
      <div class="form-item">
        <label>每队人数</label>
        <input type="number" id="playerPerTeam" value="5">
      </div>
      <div class="btn-wrap">
        <button role="button" class="btn btn-reset" id="restBtn">重置</button>
        <button role="button" class="btn btn-primary" id="beginBtn" onclick="onBenginBtnClick()">开始</button>
      </div>
    </div>
    <div class="result">
      <button role="button" class="btn btn-begin" id="okBtn" onclick="onOkBtnClick()" style="width: 100%;margin-bottom:10px;">抽签</button>
      <div class="statistic">
        <div><span>当前序号</span><span id="curIndex">0</span>/ <span id="totalCount">10</span></div>
      </div>
      <div class="current-assign">
        <span id="currentAssignNum">-</span>
      </div>
      <ul id="teamListUl">
        <!-- <li data-id="1">
          <span class="team-name">队伍1</span><span class="cart"></span><span class="cart"></span>
        </li>
        <li data-id="2">
          <span class="team-name">队伍2</span><span class="cart"></span><span class="cart"></span>
        </li> -->
      </ul>
    </div>
  </div>
</body>
</html>